* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111827;
    color: white;
}   
.gradient-btn {
    height: 4rem;
    width: 12rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    background: linear-gradient(45deg, #ef32d9, #89fffd);
    color: white;
    cursor: pointer;
    position: relative;
}
.gradient-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background: linear-gradient(45deg, #ef32d9, #89fffd);
    color: white;
    z-index: -1;
    filter: blur(0px);
    transition: .5s ease;
}
.gradient-btn:hover::after {
    filter: blur(15px);
}